*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
   background-color:#2ecc71;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.row{
    width: 500px;
    /* height: 100px; */
    margin: 10px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

#search{
    font-size: 19px;
    padding: 13px;
    border-radius: 6px;
    outline: none;
    border: none;
}